<h3 align="center">&nbsp;<font face="wp_bogus_font">GlobeOfGeek Article Analyzer 1.2</font><strong>&nbsp;</strong></h3>
<h3 align="center">How Does This Work?</h3>
<div align="center"><font face="wp_bogus_font">Just drag and drop the writing you wish to analyze in the box below. A&nbsp;variety&nbsp;of statistics from your writing will then appear!</font></div>
<div align="center">&nbsp;</div>
<h4 align="left">Current Features of Program:</h4>
<div align="left">
<ol>
<li>&nbsp;How much you will get paid/earn for submitting the writing (Feature applies to GlobeOfGeek members)</li>
<li>&nbsp;Displays the amount of Author-Rank credits you will earn (Feature applies to GlobeOfGeek members)</li>
<li>&nbsp;Number of Characters/Letters in article with spaces counted</li>
<li>&nbsp;Number of Characters/Letters in writing without spaces counted</li></ol></div>
<div>&nbsp;</div>
<div>Have some feedback? Post:&nbsp;<a target="_blank" title="" href="../../../index.php?option=com_kunena&amp;func=view&amp;catid=2&amp;id=94400&amp;Itemid=225#94405">HERE</a></div>
<p>&nbsp;</p>
<p>&nbsp;</p>