/* 
Base
This file contains the basic style of Inspire elements.
*/

// Basic HTML Objects
html, body{
	min-height	: 100%;
	height		: auto !important;
	height		: 100%;
	overflow-x	: hidden;
}

body{
	background-color		: @body-background;
	font-weight				: @base-font-weight;
	font-family				: @base-font-family;
	font-size				: @base-font-size;
	color					: @body-color;
	-webkit-font-smoothing	: antialiased;
	line-height				: @base-line-height;
}


section{
	position: relative;
	border-bottom: @base-section-border;
}

// Body Styles
body.login{
	background-color: @brand-accent;
}
