// Inspire for Bedmath
// Version 0.1.1
// By Juriaan Gregor

#Render{
	body{
		font-family: @Raleway !important;
		font-size: 1.25em !important;
		line-height: 100% !important;
		background-color: @ColorShemeBackground !important;
	}
	#Header{
		background-color: @ColorShemeHeader;
	}
	.buttons{
		background-color: @ColorShemeButtons;
	}
}
