// Inspire for Bedmath
// Version 0.1.1
// By Juriaan Gregor

.button{
	display: inline-block;
	padding-right: 13px;
	padding-left: 13px;
	margin-left: 7px;
	
	text-align: center;
	font-size: 15px;
	
	cursor: pointer;
}

.header{
	font-size: 17px;
	text-transform: uppercase;
	line-height: 33px;
	border-radius: 2px;
	transition: all 0.3s ease-in-out 0s;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
	text-align: right;
	&:hover{
		background-color: #666666;
	}
}

.full{
	border: none;
	width: 100%;
	font-size: 17px;
	text-transform: uppercase;
	line-height: 33px;
	padding-bottom: 14px;
	padding-top: 14px;
	transition: all 0.3s ease-in-out 0s;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
	text-align: center;
}

.green{
	background-color: #86BD4F;
	color: @White;
}

.blue{
	background-color: #4fb7bd;
	color: @White;
}

.grey{
	background-color: #BBBBBB;
	color: @White;
}

