// Inspire for Bedmath
// Version 0.1.1
// By Juriaan Gregor

#Container{
	width: 920px;
	margin: 0 auto;
}

.clearfix {
	display: block;
}

.clearfix:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

#Box{
	display: block;
	margin: 0 auto;
}

.account{
	width: 440px;
	min-height: 250px;
}

.Questions{
	width: 85%;
	margin-left: 7.5%;
	margin-right: 7.5%;
}

.span1{
	width: 100%;
}

.span2{
	width: 50%;
}

.span3{
	width: 33%;
}

.span4{
	width: 25%;
}

.span75{
	width: 75%;
}
