/* 
Grid
Contains the basic for our grid.
*/

.row{
	 max-width		: 1300px;
	 padding		: 0;
	 margin			: 0 auto;
	 overflow		: auto;
}

	 

[class*="column-"] {
				min-height		: 1px;
				position		: relative;
				float			: left;
				margin-top		: 4%;
				margin-right	: 0px;
				margin-bottom	: 4%;
				margin-left		: 4%;
}

.column-1{
				width			: 4%;
}

.column-2{
				width			: 12%;
}

.column-3{
				width			: 20%;
}

.column-4{
				width			: 28%;
}

.column-5{
				width			: 36%;
}

.column-6{
				width			: 44%;
}

.column-7{
				width			: 52%;
}

.column-8{
				width			: 60%;
}

.column-9{
				width			: 68%;
}

.column-10{
				width			: 76%;
}

.column-11{
				width			: 84%;
}

.column-12{
				width			: 92%;
}

// Space
.space-1{
				margin-left		: 12%;
}

.space-2{
				margin-left		: 20%;
}

.space-3{
				margin-left		: 28%;
}

.space-4{
				margin-left		: 36%;
}

.space-5{
				margin-left		: 44%;
}

.space-6{
				margin-left		: 52%;
}

.space-7{
				margin-left		: 60%;
}

.space-8{
				margin-left		: 68%;
}

.space-9{
				margin-left		: 76%;
}

.space10{
				margin-left		: 84%;
}

.space11{
				margin-left		: 92%;
}

.pull-left{
				float: left;
}

.pull-right{
				float: right;
}



