// Inspire for Bedmath.com
// Name			mixins.less
// Version		1.0

// Position
	
	.position(@Pos) {
		position: @Pos;
	}
	
	.display(@Arg) {
		display: @Arg;
	}
	
// Overflows
	
	.overflow-x(@Arg) {
		overflow-x: @Arg;
	}
	
	.overflow-y(@Arg) {
		overflow-y: @Arg;
	}
	
		