// Inspire for Bedmath
// Version 0.1.1
// By Juriaan Gregor

@font-face{
	font-family: 'Raleway';
	src: url('Fonts/Raleway.eot');
	src: local('Raleway'), url('Fonts/Raleway.ttf') format('truetype');
}

h1 {
	font-family: @Raleway;
	font-size: 3em;
	line-height: @Big-Line-Height;
}

h2 {
	font-family: @Raleway;
	font-size: 2.5em;
	line-height: 150%;
}

h3 {
	font-family: @Raleway;
	font-size: 1.75em;
	line-height: 125%;
}


