// Inspire for Bedmath
// Version 0.1.1
// By Juriaan Gregor

// Global Variables
@ColorShemeBackground: #000;
@ColorShemeHeader: #000;
@ColorShemeAccent: #000;
@ColorShemeTypography: #000;
@ColorShemeButtons: #000;
@Mode: "Show";

@Height: 0;
@Width: 0;
@Device: "Desktop";



// Colors
@Accent: #1a9abc;

	// White, Gray, Black
		@White: #fff;
		@Light-gray: #f8f8f8;
		@Dark-gray: #878787;
		@Light-Black: #2f2f2f;
		@Black: #000;
		
	// Red
		@Dark-red: #ff0000;
		@Red: #ff2323;
		@Light-red: #ff6969;
	
	// Blue
		@Dark-blue: #018dc7;
		@Blue: #23beff;
		@Light-blue: #aedeff;
	
	// Green
		@Dark-green: #01c750;
		@Green: #23ff6b;
		@Light-green: #5dff92;

// Typography
	// Line Height
		@Small-Line-Height: 75%;
		@Basic-Line-Height: 100%;
		@Big-Line-Height: 170%;
		
	// FontSize
		@Small-Font-Size: 0.75em;
		@Basic-Font-Size: 1em;
		@Big-Font-Size: 2em;
		
	// Font-family
		@Raleway: "Raleway", "Sans-serif";
		@Arial: "Arial", "Sans-serif";
		@Tahoma: "Tahoma", "Sans-serif";

// Grid
		@Span100: 100%;
		@Span90: 90%;
		@Span85: 85%;
		@Span80: 80%;
		@Span75: 75%;
		@Span70: 70%;
		@Span65: 65%;
		@Span60: 60%;
		@Span55: 55%;
		@Span50: 50%;
		@Span45: 45%;
		@Span40: 40%;
		@Span35: 35%;
		@Span30: 30%;
		@Span25: 25%;
		@Span20: 20%;
		@Span15: 15%;
		@Span10: 10%;
		@Span125: 12.5%;
		@Span5: 5%;
		@Span0: 0%;
		
		
		
	
		



